/* CSS Developed by Marc Gale for Resume Website Project */
/* Copyright 2015, All Rights Reserved */

/* --------------- */
/* Theme Overrides */
/* --------------- */

body {
	font:16px/1.3 'Segoe UI Light',Arial, sans-serif;
	color: #000;
	background: #f5f5f5;
}

.well, .list-group, .navbar {
	border: 1px solid #006699;
	background: #fff;
}

.navbar {
	margin-top: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #069;
    text-decoration: underline;
	font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #069;
	background: #e3e3e3;
    text-decoration: none;
}

.navbar-default .navbar-brand {
	color: #000;
}

h1, h2 {
	font-weight: 900;
}

.list-group {
	border-radius: 6px;
	padding: 1px;
}

button.list-group-item {
	color: #000;
	font-weight: 600;
}

/*
.list-group-item {
	background: #f5f5f5;
}

.list-group-item:hover {
	background: #fff !important;
}
*/

.navbar-text {
	font-style: italic;
}

.progress {
	height: 30px;
	margin-bottom: 0;
}

.progress-bar {
	font-size: 18px;
    line-height: 24px;
	font-weight: 600;
}

/* --------------- */
/*  Custom Styles  */
/* --------------- */

.content-divider {
	display: block;
    background: #006699;
    width: 45%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#marc-gale {
	font-size: 1.4em;
}


#address-info h2 {
	margin-top: 0;
}

#contact-info .glyphicon {
	padding: 10px;
	vertical-align: middle;
}

#education-info p {
	font-size: 1.2em;
}

#education-info .school-seal {
	height: 175px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

#education-info .media-body {
	padding-top: 25px;
}

#skills-info .fa {
	margin-right: 15px;
	font-size: 1.3em;
	color: #069;
	padding: 0;
}

.job-well h4 {
	font-size: 1.7em;
	line-height: 1.6em;
	font-weight: 900;
	color: #006699;
}

.job-well p {
	font-size: 1.3em;
	line-height: 1em;
}

.job-well .label {
	display: inline-block;
    margin: 10px 0;
}

.job-well li {
	font-size: 1.1em;
}

.umich, .main-name {
	color: #006699;
	font-weight: 900;
}

#proficient-info .label {
	margin: 2px;
	line-height: 1.2em;
}

#proficient-info .panel-default>.panel-heading {
    color: #fff;
    background-color: #969696;
}

#proficient-info .panel-default>.panel-body {
    background-color: #fff;
}

#proficient-info p {
	line-height: 1.6em;
}

.skill-key {
	margin-bottom: 20px;
	margin-top: 0;
	font-weight: 600;
}